#main{
    max-width: 430px;
    margin: 0;
    height: 100%;
    background-image: url("images.jpg");
    background-size: cover;
}
#result{
    color: white;
    font-size: 20px;
}

#author{
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 20px;
    color: green;
}
#title{
position:absolute;
color:green ;
}
body{
    margin: 0;
    padding: 0;
}